.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(26, 0, 124);
	background: -moz-linear-gradient(
		45deg,
		rgba(26, 0, 124, 1) 0%,
		rgba(130, 179, 191, 1) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		rgba(26, 0, 124, 1) 0%,
		rgba(130, 179, 191, 1) 100%
	);
	background: linear-gradient(
		45deg,
		rgba(26, 0, 124, 1) 0%,
		rgba(130, 179, 191, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a007c",endColorstr="#82b3bf",GradientType=1);
}

.login {
	font-size: 1.2rem;
	font-weight: bold;
}
